header {
    background-color: #97d700;
    padding: 10px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: larger;
}

#timezone {
    margin: 15px 0 0 0;
}

.time-item {
    font-size: 13px;
    margin: 10px 0;
}
